html {
font-family: Helvetica;
font-size: 18px;
line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;
}

div {
  display: block;
}

a {
  color: white;
  text-decoration: underline;
}

/*Header & nav bar */

header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

nav {
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav div {
  align-items: center;
  display: flex;
}

.title img {
  padding: 0rem 1rem 0rem 2rem;
  height: 1.5rem;
}

ul {
  margin: 1rem;
}

li {
  display: inline;
  padding: 0 1rem;
}

/*Main Banner*/

.flex {
  display: flex;
}

header .flex {
  justify-content: flex-end;
}

.banner {
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
  padding: 1.5rem 5rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;

}

/*services section*/

.supporting {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem 0;
  padding: 0 6rem;
  height: 8rem;
}

.service img.paper {
  width: 3.5rem;
}

.service img {
  width: 5rem;
}

/*main content*/

.main-content {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.appointments, .philosophy {
  background-color: cadetblue;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  color: white;
}

p {
  margin: 1rem 10% 5rem 0;
}

/*footer*/

footer .container{
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}
